{% extends 'base.html'%}
{%load static%}
{%block content %}
<section id="hero">
    <div class="herocontainermain">
        <div class="herocontainer1">
            <div class="herocontent1">
                <h1>100% Organic Foods</h1>
            </div>
            <div class="herocontent1">
                <h2>Organic Veggies & Fruits Foods</h2>
            </div>
            
        </div>
        <div class="herocontainer2">
            <div class="herosearch">
                <form action="">
                    <input type="search" name="itemsearch" id="itemsearch" placeholder="Search">
                    <button type="submit" id="submitbutton">Enter</button>
                </form>
            </div>
        </div>
    </div>
    </section>

    <section id="products">
        <div class="product_container">
            <div class="product1">
                <img src="img/Orgeno.png" alt="product1" srcset="">
            </div>
            <div class="product1"></div>
            <div class="product1"></div>
            <div class="product1"></div>
        </div>
    </section>

{%endblock%}