{% extends 'base.html'%}
{%load static%}
{%block content%}
<section>
    <div class="productcontainer">
    <div class="products">
        <img src="{% static 'img/apples.jpg' %}" alt="">
    <div class="product_descriptions">
        <h2>Apples</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iusto!</p>
        <div class="pricing">
            <p>Rs.300 / Kg</p>
            <a href="">
            <i class="fa fa-shopping-bag me-2 text-primary">                Add to Cart
            </i>
            </a>
        </div>
    </div>
    </div><div class="products">
        <img src="{% static 'img/apples.jpg' %}" alt="">
    <div class="product_descriptions">
        <h2>Apples</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iusto!</p>
        <div class="pricing">
            <p>Rs.300 / Kg</p>
            <a href="">
            <i class="fa fa-shopping-bag me-2 text-primary">                Add to Cart
            </i>
            </a>
        </div>
    </div>
    </div><div class="products">
        <img src="{% static 'img/apples.jpg' %}" alt="">
    <div class="product_descriptions">
        <h2>Apples</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iusto!</p>
        <div class="pricing">
            <p>Rs.300 / Kg</p>
            <a href="">
            <i class="fa fa-shopping-bag me-2 text-primary">                Add to Cart
            </i>
            </a>
        </div>
    </div>
    </div><div class="products">
        <img src="{% static 'img/apples.jpg' %}" alt="">
    <div class="product_descriptions">
        <h2>Apples</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iusto!</p>
        <div class="pricing">
            <p>Rs.300 / Kg</p>
            <a href="">
            <i class="fa fa-shopping-bag me-2 text-primary">                Add to Cart
            </i>
            </a>
        </div>
    </div>
    </div><div class="products">
        <img src="{% static 'img/apples.jpg' %}" alt="">
    <div class="product_descriptions">
        <h2>Apples</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, iusto!</p>
        <div class="pricing">
            <p>Rs.300 / Kg</p>
            <a href="">
            <i class="fa fa-shopping-bag me-2 text-primary">                Add to Cart
            </i>
            </a>
        </div>
    </div>
    </div>
</div>
</section>
{%endblock%}