
{% load static %}
<div class="navcontainer">
    <header>
    <div class="container1">
        <div class="menu1">
            <div class="location">Kathmandu Nepal</div>
            <div class="email">info@orgeno.com</div>
        </div>
        <div class="menu2">
            <a href="#">Privacy Policy / </a><a href="#">Terms of Use / </a>
        </div>
    </div>
    <div class="container2">
        <div class="logo">
            <div>
                <a href="">
                <img src="{%static 'img/Orgeno.png' %}" alt="" id="logo">
            </a>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{%url 'home' %}">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Shop Detail</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="icons">
            <ul>
                <li><a href="Search">Search</a></li>
                <li><a href="">cart</a></li>
                <li><a href="">Profile</a></li>
            </ul>
        </div>
    </div>
</header>
</div>

<!-- navbar end -->